<!Doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Template</title>
        <link rel="stylesheet" href="style/style.css"/>
        <link rel="stylesheet" href="style/font-awesome-4.7.0/css/font-awesome.min.css"/>
    </head>
    <body>
        <header>
        	<div class="head-container">
            	<h1>logo</h1>
             	<nav>
                    <a class="nav-item" href="#about">about us</a>
					<a class="nav-item" href="#team"> our team</a>
					<a class="nav-item" href="#contact">contact us</a>
					<a class="nav-item sing-in" href="Template.html">sing in</a>
					<div class="clearfix"></div>
  				</nav>
            </div>
        </header>
        <main>
            <section class="mission">
                <div class="centr">
                	<h2 class="mission-header">
                		<i class="fa fa-star" aria-hidden="true"></i>
                		Our Mission
                		<i class="fa fa-star" aria-hidden="true"></i>
                	</h2>
                	<p class="mission-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
                	</p>
                </div>
            </section>
            <section id="about">
            	<div class="centr">
                	<h2 class="about-header">About</h2>
                	<p class="about-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                	</p>
                </div>
            </section>
            <section id="team">
            	<div class="centr">
            		<h2 class="team-header">Team</h2>
            		<ul class="team-content">
            			<li>
            				<img src="image/John1.png"/>
            				<h3>John Doe</h3>
            				<span>Founder & CEO</span>
            			</li>
            			<li>
            				<img src="image/John2.png"/>
            				<h3>John Doe</h3>
            				<span>Co-founderO</span>
            			</li>
            			<li>
            				<img src="image/John3.png"/>
            				<h3>John Doe</h3>
            				<span>Investor</span>
            			</li>
            		</ul>
            		<button class="team-button">work with us</button>
            	</div>
			</section>
            <section id="contact">
            	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20493.357301057727!2d36.203386!3d50.05501920000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a6a80ed1cd07%3A0x7970fb8f3fc14bf8!2z0JDQu9C10LrRgdC10LXQstGB0LrQsNGP!5e0!3m2!1sru!2sua!4v1497430428043" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            </section>
            <footer>
            	<div class="head-container">
            		<ul class="footer-top">
            			<li>
            				<a href="template.html">about</a>
            			</li>
            			<li>
            				<a href="template.html">faq</a>
            			</li>
            			<li>
            				<a href="template.html">work with us</a>
            			</li>
            		</ul>
            		<ul class="social">
            			<li>
            				<a href="mailto:123@gmail.com">
            					<i class="fa fa-envelope-o" aria-hidden="true"></i>
            				</a>
            			</li>
            			<li>
            				<a href="http://www.facebook.com">
            					<i class="fa fa-facebook" aria-hidden="true"></i>
            				</a>
            			</li>
            			<li>
            				<a href="http://twitter.com">
            					<i class="fa fa-twitter" aria-hidden="true"></i>
            				</a>
            			</li>
            		</ul>
            		<div class="clearfix"></div>
            		<ul class="footer-bottom">
            			<li>Privacy Policy</li>
            			<li>Terms and Conditions</li>
            			<li> &#169 Company LLC 2014</li>
            		</ul>
            	</div>
            </footer>
        </main>
    </body>
</html>