body{
	background-color: azure;
	width: 70%;
	margin: 0 auto;
}
div{
	margin: 40px 0;
}
span{
	text-decoration: line-through;
}
a{
	text-decoration: none;
	font-size: 18px;
}
img{
	width: 100%;
}

.center{
	text-align: center;
}

.active:active{
	color: red;
	font-size: 30px;
	text-transform: uppercase;
}

.align-left{
	height: 30px;
	text-align: left;
}

.hover:hover{
	border: 3px dotted red;
	text-decoration: underline;
	color: green;
	padding: 10px;
}

.align-right{
	text-align: right;
}

.visited:visited{
	color: brown;
}

.back-attachment{
	background: fixed url(image/data.jpg);
	height: 600px;
	position: relative;
	
}

.paragraph{
	text-align: center;
	background-color: rgba(208,75,75,0.8);
	color: white;
	position: absolute;
	top: 30%;
}